.confirmados {
    width: 700px;
    height: 80px;
    background-color: red;
    border-radius: 0 50px 50px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Roboto;
}

.confirmados__titulo {
    margin-left: 8px;
}
.confirmados__numero {
    color: red;
    font-size: 18px;
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}